* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    background-color: black
    color: white;
}

body {
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;

}

header h1 {
    color: white;
    text-align: center;
    margin: 20px 20px;
    font-size: 50px;

}

 p a {
    color: aquamarine;
    text-align: center;
    margin: 20px 20px;
    font-size: 16px;
}

header video {

    align-items: center;
    margin: 20px 0;
}

h2 {
    color: white;
    text-align: center;
    margin: 20px 20px;
    font-size: 42px;
    font-weight: 300;
}

h4 {
    color: gray;
    text-align: center;
    margin: 20px 20px;
    font-size: 21px;
}

img {
    display: block;
    margin: 1em auto;
}
footer {
    color: gray;
    text-align: center;
    margin: 20px 20px;
    font-size: 16px;
}